@page
@model FinalProject.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>User Details:</h3>

<br>

<div>
    
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    <br>
      <hr>
        <br>
        
    
        
        @foreach(var w in Model.User.Workouts){
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => w.DateCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => w.DateCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => w.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => w.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => w.WorkoutLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => w.WorkoutLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => w.WorkoutType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => w.WorkoutType)
        </dd>
        <hr/>
        } 
        </dl>
        </div>
       

       <div>
       <dt>
        <h5>Personalized Workout Overview:</h5>
        <br>
        Total Calories Burned:
        </dt>
        <dd class="col-sm-10">
            @{
                int totalCalories = Model.User.Workouts.Sum(w => w.Calories);
                @totalCalories
            }
        </dd>
        <dt class="col-sm-2">
        Total Minutes Worked:
        </dt>
        <dd class="col-sm-10">
            @{
                int totalMinutes = Model.User.Workouts.Sum(w => w.WorkoutLength);
                @totalMinutes
            }
        </dd>
    </div>
    <hr/>
   
        
        
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
