@page
@model FinalProject.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h3>Users:</h3>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method = "get">
    <input type="hidden" select asp-for="PageNum" asp-items="Model.PageNum"/>
    <select asp-for="CurrentSort" asp-items="Model.SortList">
        <option value="">sort by...</option>
    </select>
    <button type="submit">Sort</button>
    <br>
    <form method = "get">
    <div>
        Search by First Name:
        <input type= "text" name="SearchString" value="@ViewData["CurrentFilter"]"/>
        <button type="submit">Sort</button>
        <br>
        <a asp-action="Index">Back to Users</a>
    </div>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>
                @{
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc"){
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort"></a>
                </th>
                
            </tr>
        </thead>
       
       
    </table>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr/>
@{
    var prevDisabled= "";
    if (Model.PageNum <=1){
        prevDisabled = "disabled";
    }
    var nextDisabled= "";
    if (Model.PageNum >2){
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
    <li class= "page-item @prevDisabled"><a class="page-link" asp-page= "./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
    <li class= "page-item @nextDisabled"><a class="page-link" asp-page= "./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>